/* Paleta de colores */
.expanded_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e6ebe0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  box-sizing: border-box;
}

/* Global parts */
/* Paleta de colores */
.expanded_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e6ebe0;
}

.header {
  background-color: #f4f1bb;
  position: sticky;
  top: 0px;
  z-index: 2000;
}

.logo__link {
  text-decoration: none;
  color: #f98948;
  font-size: 1.3rem;
  font-family: "Rubik Mono One", sans-serif;
}

.header__button {
  margin-right: 5px;
  color: #f98948;
}

.logo__link:hover {
  color: #f98948;
}

.nav-link {
  color: #f98948;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: #ffffff;
}

.nav-item {
  font-family: "Rubik Mono One", sans-serif;
}

/* Paleta de colores */
.expanded_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e6ebe0;
}

footer {
  background-color: #f4f1bb;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

/* Sass operations */
/*For the exercise*/
.f-1 {
  font-size: 1rem;
}

.bg-banner-1 {
  background-image: url("../img/banner1.jpg");
  background-size: cover;
  background-position: center;
}

/*For the exercise*/
.f-2 {
  font-size: 2rem;
}

.bg-banner-2 {
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  background-position: center;
}

/*For the exercise*/
.f-3 {
  font-size: 3rem;
}

.bg-banner-3 {
  background-image: url("../img/banner3.jpg");
  background-size: cover;
  background-position: center;
}

/* Page Files */
/* Paleta de colores */
.expanded_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e6ebe0;
}

.main_index {
  padding: 0px;
  background-color: #e6ebe0;
}

.banner {
  height: 400px;
}

.carousel-item__image {
  height: 400px;
  object-fit: cover;
}
.carousel-item__image p {
  font-family: "Rubik Mono One", sans-serif;
  color: #ffffff;
}

.categories__list {
  height: 100%;
  list-style-type: none;
  padding-left: 0px;
}

.categorias-list-link {
  color: #f98948;
  text-decoration: none;
  font-family: "Rubik Mono One", sans-serif;
}

.product-title {
  background-color: #e6ebe0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-title h1 {
  font-family: "Rubik Mono One", sans-serif;
  margin: 10px;
}

.product-list {
  background-color: #e6ebe0;
}

.cards {
  text-align: center;
  transition: transform 0.5s;
  margin: 5px;
}
.cards a {
  text-decoration-line: none;
}
.cards a p {
  position: relative;
  bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #f98948;
  background-color: #f4f1bb;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 55px;
}
.cards a img {
  width: 100%;
  margin: 0px;
  border-radius: 10px 10px 0px 0px;
}
.cards:hover {
  transform: translate(-10px, -10px);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6ebe0;
}

.about-title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 3.5rem;
  margin: 20px;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  transition: transform 1s;
}
.about h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2rem;
  margin: 10px;
}
.about p {
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  font-size: 1.5rem;
}
.about:hover {
  transform: scale(1.1, 1.1);
}

.form-contacto {
  background-color: #e6ebe0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.form-items {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 25%;
  font-size: 1rem;
}

.items-text {
  height: 50%;
}

.main_contact {
  background-color: #e6ebe0;
}

.form-contacto-title {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  background-color: #e6ebe0;
  padding: 10px;
  margin: 0px;
}

/* Paleta de colores */
.expanded_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e6ebe0;
}

.main_help {
  background-color: #e6ebe0;
}

.main_help__title {
  font-family: "Rubik Mono One", sans-serif;
  margin: 20px;
}

.main_help__form {
  margin: 30px;
}

.main_help__form {
  margin: 30px;
}

.title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.4rem;
  margin: 1rem;
  text-decoration: underline;
  text-align: center;
}

.faq__accordion {
  background-color: #f4f1bb;
  margin: 20px;
}

.form-check {
  margin: 10px;
}

.form-check-input {
  width: 1.2rem;
  height: 1.2rem;
}

.form__btn {
  background-color: #f98948;
  padding: 5px;
  border: 2px solid #f4f1bb;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
}

.form__btn:hover {
  background-color: #f4f1bb;
  color: #f98948;
}

/* Paleta de colores */
.expanded_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e6ebe0;
}

.main_product {
  background-color: #e6ebe0;
  margin: 0px;
}

.main_product__container h1 {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  color: #f98948;
  margin-top: 10px;
}
.main_product__container img {
  border-radius: 20px;
  width: 100%;
  padding: 30px;
}

.product_data {
  background-color: #e6ebe0;
  padding: 10px;
}
.product_data h4 {
  font-family: "Rubik Mono One", sans-serif;
}
.product_data ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.product_data__description h4 {
  font-family: "Rubik Mono One", sans-serif;
}
.product_data__description p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/*# sourceMappingURL=styles.css.map */
