@import "globalVars";

.main_index {
    padding: 0px;
    background-color: $grey;
}

.banner {
    height: 400px;
}

.carousel-item__image {
    height: 400px;
    object-fit: cover;

    p {
        font-family: $title-font;
        color: $white;
    }
}

.categories__list {
    height: 100%;
    list-style-type: none;
    padding-left: 0px;
}

.categorias-list-link {
    color: $orange;
    text-decoration: none;
    font-family: $title-font;
}

.product-title {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-family: $title-font;

        margin: 10px;
    }
}

.product-list {
    background-color: $grey;
}

.cards {
    text-align: center;
    transition: transform 0.5s;
    margin: 5px;

    a {
        text-decoration-line: none;

        p {
            position: relative;
            font-family: $text-font;
            color: $orange;
            background-color: $yellow;
            margin: 0px;
            height: 55px;
        }

        img {
            width: 100%;
            margin: 0px;
            border-radius: 10px 10px 0px 0px;
        }

        div {
            margin: 0px;
            padding: 5px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: $yellow;
        }
    }

    &:hover {
        transform: translate(-5px, -5px);
    }
}

.card__btn {
    color: $white;
    background-color: $orange;
    padding: 3px;
    border: 2px solid $yellow;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;

    &:hover {
        background-color: $yellow;
        color: $orange;
        border: 2px solid $orange;
    }
}

#dropdownMenuButton1 {
    background-color: $orange;
}
.dropdown-menu {
    max-height: 200px;
    width: 40vw;
    overflow-y: scroll;
    li {
        width: 100%;
    }
}
