@import "globalVars";

.main_product {
    background-color: $grey;
    margin: 0px;
}

.main_product__container {
    h1 {
        text-align: center;
        font-family: $title-font;
        color: $orange;
        margin-top: 10px;
    }

    img {
        border-radius: 20px;
        width: 100%;
        padding: 30px;
    }
}

.product_data {
    background-color: $grey;
    padding: 10px;
    ul {
        li {
            font-family: $title-font;
        }
    }
}
